
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration:  none;
    color: #2730D7;

}

.home{
    width: 1920px;
    height: 3152px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: 1920px;
    height: 104px;
    
}
.menu{
    width: 819px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

}

.login {
    display:flex;
    width: 163px;
    height: 18px;
    justify-content: space-evenly;

}

.banner {

    width:1920px;
    height: 967px;
    background-image: url(Imagens/LivroHome.jpg);
    border-top: solid 2px aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.banner h1{
    width: 694px;
    height: 177px;
    font-size: 47px;
    font-weight: bold;
    text-align: center;
}

.botaoContate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 607px;
    height: 124px;
    margin-top: 50px;
    margin-left: 25px;
    border: solid, 1px, black;
    border-radius: 400px;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, white , #2730D7);
}



.TextBox{

    margin-top: 143px;
    margin-left: 164px;
    width: 1572px;
    height: 118px;
    
}

.TextBox h1{
    
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 47px;

}

.DadBlock{
    display: flex;
    justify-content: space-evenly;
    width: 1407px;
    height: 536px;
    margin-top: 244px;
    margin-left: 270px;
}

.blocoTcc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white,#2730D7);
}

.blocoTcc h3 {

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top:15px ;

}

.blocoAgendamento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white,#2730D7);
}

.blocoAgendamento h3{

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top:10px ;

}


.MomBlock{
    display: flex;
    justify-content: space-evenly;
    width: 1407px;
    height: 536px;
    margin-top: 244px;
    margin-left: 270px;
}

.blocoSobre {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white,#2730D7);

}

.blocoSobre h3 {

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top:10px ;

}

.blocoProfs {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white,#2730D7);

}

.blocoProfs h3{

    width: 530px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top:10px ;


}


/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */




/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */

.AgendamentoProfessores{

    width: 1920px;
    height: 2564px;

}

.BlocoPadrao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 131px;
    background-image: linear-gradient(#2730D7,#2730D7 ,#151FD9) ;

}

.BlocoPadrao h1{

    width: 287px;
    height: 56px;
    font-size: 48px;
    color: white;

}

.Container2{
    display:flex;
    justify-content: space-between;
    width: 1554px;
    height: 738px;
    margin-top: 335px;
    margin-left: 183px;

}

.BlocoCarla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);
}

.FormacaoCarla {
    width: 608px;
    height: 232px;
    font-size: 23px;
}

.BlocoMarcos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoMarcos {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

.Container3{

    display:flex;
    justify-content: space-between;
    width: 1554px;
    height: 738px;
    margin-top: 326px;
    margin-left: 183px;

}

.BlocoHelena{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoHelena {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

.BlocoAna{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoAna {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */




/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */







.tccpagina{

    width: 1920px;
    height: 6000px;

}

.Textotcc {

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: black;
    margin-top: 113px;
    margin-left: 130px;
    margin-right: 130px;

}



/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */



/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */


.CadastroConta{
    width: 1920px;
    height: 1615px;
    
}

.ContainerCadastro {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1166px;
    height: 1135px;
    margin-top: 136px;
    margin-left: 415px;
    border-radius: 100px;
    background-image: linear-gradient(#2730D7, #151FD9);
    font-size: 23px;
    color: white;

}

.TextoCadastro{

    text-align: center;
    width: 777px;
    height: 58px;

}

.ExemploNome{
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploEmail{
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploEndereco{
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploSenha{
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploConfirmarSenha{
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

