/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */
/* Página de HOME (Escolher Professor) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;

}

.home {
    width: 1920px;
    height: 3152px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: 1920px;
    height: 104px;
    border-bottom: solid 2px aqua;

}

.header a {

    text-decoration: none;
    color: #2730D7;

}

.menu {
    width: 819px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

}

.login {
    display: flex;
    width: 163px;
    height: 18px;
    justify-content: space-evenly;

}

.banner {

    width: 1920px;
    height: 967px;
    background-image: url(Imagens/LivroHome.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.banner h1 {
    width: 694px;
    height: 177px;
    font-size: 47px;
    font-weight: bold;
    text-align: center;
}

.botaoContate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 607px;
    height: 124px;
    margin-top: 50px;
    margin-left: 25px;
    border: solid, 1px, #2730D7;
    border-radius: 400px;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, white, #2730D7);
}



.TextBox {

    margin-top: 143px;
    margin-left: 164px;
    width: 1572px;
    height: 118px;

}

.TextBox h1 {

    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 47px;

}

.DadBlock {
    display: flex;
    justify-content: space-evenly;
    width: 1407px;
    height: 536px;
    margin-top: 244px;
    margin-left: 270px;
}

.blocoTcc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white, #2730D7);
}

.blocoTcc h3 {

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;

}

.blocoAgendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white, #2730D7);
}

.blocoAgendamento h3 {

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}


.MomBlock {
    display: flex;
    justify-content: space-evenly;
    width: 1407px;
    height: 536px;
    margin-top: 244px;
    margin-left: 270px;
}

.blocoSobre {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white, #2730D7);

}

.blocoSobre h3 {

    width: 536px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}

.blocoProfs {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 536px;
    border: solid 1px black;
    border-radius: 20px;
    background-image: linear-gradient(white, #2730D7);

}

.blocoProfs h3 {

    width: 530px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;


}


/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */




/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */
/* Página de Agendamento (Escolher Professor) */

.AgendamentoProfessores {

    width: 1920px;
    height: 2564px;

}

.BlocoPadrao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 131px;
    background-image: linear-gradient(#2730D7, #2730D7, #151FD9);

}

.BlocoPadrao h1 {

    width: 287px;
    height: 56px;
    font-size: 48px;
    color: white;

}

.Container2 {
    display: flex;
    justify-content: space-between;
    width: 1554px;
    height: 738px;
    margin-top: 335px;
    margin-left: 183px;

}

.BlocoCarla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);
}

.FormacaoCarla {
    width: 608px;
    height: 232px;
    font-size: 23px;
}

.BlocoMarcos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoMarcos {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

.Container3 {

    display: flex;
    justify-content: space-between;
    width: 1554px;
    height: 738px;
    margin-top: 326px;
    margin-left: 183px;

}

.BlocoHelena {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoHelena {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

.BlocoAna {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 738px;
    border: solid 1px black;
    border-radius: 50px;
    background-image: linear-gradient(white, #999999);

}

.FormacaoAna {

    width: 608px;
    height: 232px;
    font-size: 23px;

}

/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */




/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */
/* Página de TCC (Escolher Professor) */







.tccpagina {

    width: 1920px;
    height: 6000px;

}

.Textotcc {

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: black;
    margin-top: 113px;
    margin-left: 130px;
    margin-right: 130px;

}



/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */



/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */
/* Página de Cadastro */


.CadastroConta {
    width: 1920px;
    height: 1615px;

}

.ContainerCadastro {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1166px;
    height: 1335px;
    margin-top: 136px;
    margin-left: 415px;
    border-radius: 100px;
    background-image: linear-gradient(#2730D7, #151FD9);
    font-size: 23px;
    color: white;

}

.TextoCadastro {

    text-align: center;
    width: 777px;
    height: 58px;
    margin-bottom: 100px;
}

.ExemploNome {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploEmail {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploEndereco {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploSenha {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}

.ExemploConfirmarSenha {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 23px;
}


/* Página de Login */
/* Página de Login */
/* Página de Login */
/* Página de Login */
/* Página de Login */



/* Página de Login */
/* Página de Login */
/* Página de Login */
/* Página de Login */
/* Página de Login */


.PaginaLogin {
    width: 1920px;
    height: 1448px;

}

.ContainerLogin {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1166px;
    height: 968px;
    margin-top: 136px;
    margin-left: 415px;
    border-radius: 100px;
    background-image: linear-gradient(#2730D7, #151FD9);
    font-size: 18px;
    color: white;

}

.TextoLogin {

    text-align: center;
    width: 777px;
    height: 58px;


}

.ExemploEmailLogin {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 18px;
}

.ExemploSenhaLogin {
    width: 747px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 18px;
}

.botaoLogarECriar {

    width: 745px;
    display: flex;
    justify-content: space-between;

}

.botaoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 108px;
    margin-top: 50px;
    border: solid, 1px, black;
    border-radius: 400px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, #2730D7);
}

.botaoLogar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 108px;
    margin-top: 50px;
    border: solid, 1px, black;
    border-radius: 400px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, #2730D7);
}


/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */



/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */
/* Página de Agendamento da Helena */




.ContainerAgendamento {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1920px;
    height: 1243px;


}

.ContainerAgendamento h2 {
    width: 1592px;
    height: 58px;
    text-align: center;

}

.botaoAgendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 604px;
    height: 137px;
    margin-top: 50px;
    border: solid, 1px, #2730D7;
    border-radius: 400px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, white, #2730D7);

}

/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */



/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */
/*  PAGINA CONSULTA  */

.formatardiv {

    height: 2899px;
    width: 1830px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomecargo {

    text-align: center;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
}

.foto_Helena_Duarte {
    width: 529px;
    height: 529px;
    object-fit: cover;
    margin-bottom: 35px;
}

.foto_Carla_Menezes {
    width: 529px;
    height: 529px;
    object-fit: cover;
    margin-bottom: 35px;
}

.foto_Marcos_Andrade {
    width: 529px;
    height: 529px;
    object-fit: cover;
    margin-bottom: 35px;
}

.foto_Ana_Torres {
    width: 529px;
    height: 529px;
    object-fit: cover;
    margin-bottom: 35px;
}

.textodigitavel {

    background-color: #CFCFCF;
    height: 2000px;
    width: 1630px;
    margin-left: 45px;
    margin-right: 45px;
}

.configinput {
    background-color: #CFCFCF;
    color: #000;
    border: none;
    padding: 15px;
    display: flex;
    font-size: 30px;
    height: 2000px;
    width: 1630px;
    align-items: start;
    justify-content: start;
    margin-bottom: 500px;
}

.BotaoEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 278px;
    height: 136px;
    margin-top: 50px;
    border: solid, 1px, #2730D7;
    border-radius: 400px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, white, white, #2730D7);
}



/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */
/* Página Sobre Nós */



/* --- SEÇÃO 1: NOSSA ORIGEM --- */
.SobreNos {
    width: 1920px;
    height: 4000;
}

.secao-origem {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px 5%;
    margin-bottom: 50px;

}

.origem-texto {
    flex: 1 1 50%;
    text-align: left !important;
    padding-left: 0;
}


.origem-texto h2 {
    color: var(--cor-azul-titulo);
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    text-align: left !important;
}

.origem-texto p {
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: left !important;

}

.origem-imagem {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 0;
    min-width: 300px;

}

.origem-imagem img {
    max-width: 100%;
    height: auto;
    display: block;
}


.imagem-origem-ajuste {

    border-radius: 0 100px 100px 0;
    max-width: 100%;
    height: auto;
    display: block;
}


/* --- SEÇÃO 2: DOS NOSSOS PILARES --- */

.secao-pilares-container {
    padding: 0 5%;
    margin-bottom: 50px;
}

.titulo-pilares {
    color: var(--cor-azul-titulo);
    font-size: 2em;
    margin-bottom: 20px;
    padding: 5px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.pilares-conteudo-wrapper {
    display: flex;

    border-top: 1px dashed #ccc;
}

.pilares-texto-coluna {
    flex: 1;

    padding: 20px;
    background-color: var(--cor-cinza-pilar);

}

.pilares-imagem-coluna {
    flex-shrink: 0;
    width: 80px;
    background-color: var(--cor-azul-coluna);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #00008b, #4a90e2);
}

.pilares-rotulo {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.pilares-conteudo-coluna {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.pilar-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.pilar-esquerda {
    background-color: var(--cor-fundo-origem);
}

.pilar-titulo {
    color: var(--cor-azul-titulo);
    font-size: 1.2em;
    margin-bottom: 10px;
}

.comunidade-item {
    background-color: var(--cor-cinza-pilar);
    border: none;
}

.comunidade-imagem {
    text-align: center;
    margin-top: 20px;
}


/* --- SEÇÃO 3: NOSSO COMPROMISSO COM A ÉTICA --- */
.secao-etica {
    padding: 40px 5%;
    text-align: center;
    background-color: var(--cor-cinza-pilar);
    margin-top: 30px;
}

.etica-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo-etica {
    color: var(--cor-verde-pilar);
    font-size: 1.8em;
    margin-bottom: 15px;
    display: inline-block;
}

.secao-etica p {
    line-height: 1.6;
    color: var(--cor-texto-principal);
    max-width: 900px;
    margin: 0 auto;
}

.secao-participacao {
    text-align: center;
    padding: 40px 5%;
}

.titulo-participacao {
    text-align: center;
    margin-bottom: 20px;
}
