*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration:  none;
    color: 2730D7;

}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: 1920px;
    height: 104px;
    
}
.menu{
    width: 819px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

}



